body{
    margin: 0;
}

.farmer{
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
}

.left-box{
    flex: 30;
    height: 100%;
    background-image: url("../../images/green\ farm.jpeg");
}
.left-container{
    width: 100%;
    height: 100%;
    /* background-color: aqua; */
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    overflow-y: scroll;
}
.middle-box{
    flex: 40;
    height: 100%;
    background-image: url("../../images/kisankhet.jpg");
}
.middle-container{
    width: 100%;
    height: 100%;
    /* background-color: aquamarine; */
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}
.right-box{
    flex: 30;
    height: 100%;
    /* background-color: beige; */
    background-image: url("../../images/tractor.jpeg");
    /* overflow-y: scroll; */
}
.right-container{
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.name-box{
    margin-top: 50px;
    height: 25%;
    max-height: 200px;
    /* min-height: 300px; */
    width: 90%;
    min-width: 400px;
    /* background-color: rgba(255, 255, 255, 0.57); */
    margin-bottom: 100px;
    display: flex;

    background: rgba(255, 255, 255, 0.412);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 )
}
/* .name-box div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
} */
.user-image{
    flex: 4;
    display: flex;
    justify-content: center;
    align-items: center;
}
.user-info-box{
    flex: 6;
    display: flex;
    justify-content: center;
    align-items: center;
}
.user-info{
    height: auto;
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.name-box div img{
    width: 80%;
    border-radius: 100%;
}
.payment-model{
    height: 25%;
    min-height: 250px;
    /* min-height: 300px; */
    width: 90%;
    min-width: 400px;
    /* background-color: antiquewhite; */
    display: flex;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    justify-content: space-evenly;
    background: rgba(255, 255, 255, 0.412);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 )
}
.price{
    margin: 0 30px 0 30px;
}
.price span{
    font-weight: 800;
}

.weight-box{
    margin: 0 30px 0 30px;
    display: flex;
    align-items: center;
    font-weight: 800;
}

.duration-box{
    margin: 0 30px 0 30px;
    display: flex;
    align-items: center;
    font-weight: 800;
}

.total-cost{
    margin: 0 30px 0 30px;
    font-weight: 800;
}
.payment-model-button{
    width: 120px;
    height: 25px;
    font-size: 16px;
    margin: 0 30px 0 30px;
}
.preserver-list-heading{
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 900;
}

.preserver-list-heading-right{
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 900;
    position: absolute;
}